@import url("https://fonts.googleapis.com/css?family=Quicksand");

@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

::selection {
  background: transparent;
}

body {
  font-family: 'Quicksand';
  background: #D2BBB0;
  margin: 0px;
  padding: 0px;
}

h4 {
  font-size: 26px;
  line-height: 1px;
  font-family: 'Amatic SC';
}

.book {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 400px;
  background: #e0e1dc;
  transform-style: preserve-3d;
  transform: translate(-140%, -50%) perspective(1000px) rotate(-65deg) skew(-15deg, 35deg) scalex(0.75);
  box-shadow: inset 5px -3px 10px rgba(0, 0, 0, 0.5), 0px 10px 10px rgba(0, 0, 0, 0.5);
  transition: 1s;

  .front-cover {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: .7s;

    .fly-leaf {
      position: absolute;
      background: #e0e1dc;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: .7s;
    }

    .coverart {
      text-align: center;
      padding-top: 15%;
      padding-left: 22px;
      font-size: 1.5rem;
      font-family: Quicksand;
      font-weight: 900;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;

      &::before {
        content: '2018/2019 APPOINTMENTS';
        letter-spacing: 3px;
        padding: 20px 0 0 20px;
        display: inline-block;
        position: absolute;
        z-index: 65;
        text-shadow: 1px -3px rgba(255, 255, 255, 0.6), -1px 1px rgba(0, 0, 0, 0.6);
        background-color: #553C0C;
        color: #553C0C;
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/678043/nerdy-logo-clipped.svg);
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: 140% 120%;
        opacity: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: 1;
        width: calc(100% + 195px);
        height: 100%;
        left: -165px;
        box-sizing: border-box;
        bottom: -12px;
        right: 0;
        opacity: 1;
        background: none;
        border-right: 338px solid transparent;
        border-top: 212px solid #000;
        border-bottom: 200px solid lighten(#533A13, 10%);
        border-left: 290px solid darken(#533A13, 10%);
        border-radius: 30px 20% 50px 0;
        transform: scalex(0.51);
        background-color: transparent;
      }
    }
  }

  .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 0 0 10px;
    z-index: -1;
    margin-top: 70px;
  }

  &:hover {
    transform: translate(-50%, -50%) perspective(1000px) rotate(0deg) scale(1.8);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5), -30px -10px 100px rgba(0, 0, 0, 0.5);

    .front-cover {
      transform: rotateY(-135deg);
      backface-visibility: hidden; 


      .fly-leaf {
        opacity: 1;
        transition: .6s;
        box-shadow: 300px 200px 100px rgba(0, 0, 0, 0.4) inset;
      }
    }
  }
}