
body {
  font-family: "Quicksand", helvetica, sans-serif;
  background: #d2bbb0;
  margin: 0px;
  padding: 0px;
}

.faux-close {
  position: fixed;
  top: .5rem;
  right: 1rem;
  text-align: right;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  transition: all .5s ease-out;
  opacity: 0;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0.05rem;
    left: -0.15rem;
    width: 3.3rem;
    height: 3.3rem;
    display: block;
    border-radius: 100%;
  }

  &::before {

    background-color: rgba(0, 0, 0, .4);
    z-index: -2;
    display: block;
    transform: scalex(.85) scaley(0.25) translatey(9rem) perspective(1000px);
    filter: blur(10px);
  }

  &::after {
    background-color: #ff3333;
    z-index: -1;
    box-shadow: inset 0 0 30px white;
  }
}

.book {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 400px;
  background: #e0e1dc;
  transform-style: preserve-3d;
  transform: translate(-140%, -50%) perspective(1000px) rotate(-65deg) skew(-15deg, 35deg) scalex(0.75);
  box-shadow: inset 5px -3px 10px rgba(0, 0, 0, 0.5),
    -20px 20px 20px rgba(0, 0, 0, 0.75);
  transition: 1s;

  .front-cover {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 0.7s;

    .fly-leaf {
      position: absolute;
      background: #553c0c;
      opacity: 1;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.7s;
      z-index: 70;
    }

    .coverart {
      text-align: center;
      padding-top: 15%;
      padding-left: 22px;
      font-size: 1.5rem;
      font-family: Quicksand;
      font-weight: 900;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;

      &::before {
        content: "2018/2019 APPOINTMENTS";
        letter-spacing: 3px;
        padding: 20px 0 0 20px;
        display: inline-block;
        position: absolute;
        z-index: 65;
        text-shadow: 1px -3px rgba(255, 255, 255, 0.6),
          -1px 1px rgba(0, 0, 0, 0.6);
        background-color: #553c0c;
        color: #553c0c;
        background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/678043/nerdy-logo-clipped.svg);
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: 140% 120%;
        opacity: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        box-shadow: inset 150px 200px 350px rgba(0, 0, 0, 0.25);
      }

      &::after {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        content: "";
        display: inline-block;
        position: absolute;
        z-index: 1;
        width: calc(100% + 195px);
        height: 100%;
        left: -165px;
        box-sizing: border-box;
        bottom: -12px;
        right: 0;
        opacity: 1;
        background: none;
        border-right: 338px solid transparent;
        border-top: 212px solid #000;
        border-bottom: 200px solid lighten(#533a13, 10%);
        border-left: 290px solid darken(#533a13, 10%);
        border-radius: 30px 20% 50px 0;
        transform: scalex(0.51);
        background-color: transparent;
        transition: all 0.5s ease-in;
      }
    }
  }

  &:hover {
    transform: translate(-10%, -50%) perspective(1000px) rotate(0deg) scale(2.5);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5),
      0px 10px 30px rgba(0, 0, 0, 0.5);

    .front-cover {
      transform: rotateY(-135deg);

      .fly-leaf {
        opacity: 0.95;
        transition: 0.6s;
        box-shadow: inset 300px 200px 100px rgba(0, 0, 0, 0.65),
          0px 20px 30px rgba(0, 0, 0, 0.3);
      }

      .coverart::after {
        transform: scale(0.51, 0.9);
      }
    }

    &+.faux-close {
      opacity: 1;
      transition: all 1.5s ease-out;

    }
  }

  .interior {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 25px 15px 25px 35px;
    z-index: -1;
    width: 100%;
    font-size: 7px;

    button {
      margin: 0 0 30px 0;
      font-size: 7px;
      margin-left: 50%;
      transform: translatex(-50%);
    }
  }
}

form#booking-preflight {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  align-items: flex-end;

  &>div {
    margin: 15px 0 0;
    padding: 0;

    position: relative;

    flex: 47%;
    text-align: center;

    &.wide {
      flex: 100%;
    }
  }
}

#booking-preflight,
#booking-preflight * {
  box-sizing: border-box;
}

#booking-preflight {
  div {
    position: relative;

    &:not(.wide) {
      &+div {
        margin-left: 4%;
      }
    }

    .form-element {
      background-color: transparent;
      border: 1px solid transparent;
      border-bottom: 1px solid transparent;
      font-size: 7px;

      border-top: 0 none;
      border-radius: 0;
      outline: none;
      width: 0rem;
      margin: 0 auto;
      transition: all 0.15s ease-out;
      height: 14px;

      &+label {
        position: absolute;
        color: #aaa;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        text-align: left;
        padding: 0.25rem;
        transition: all 0.1s ease-out;

        &::after {
          transition: all 0.1s ease-out;
          opacity: 1;
          content: "";
          border-bottom: 1px solid #ccc;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          position: absolute;
        }
      }

      &:focus, &:not(:placeholder-shown) {
        border-color: transparent;
        
        width: 100%;
        border-radius: 15px;
        
        // border-image-slice: 1;
        border-bottom-width: 0px;
        border-left: 0 none;
        border-right: 0 none;
        padding: 0 10px;
        font-size: 7px;
      }


      &:focus {
        background: rgba(255, 255, 255, 0.25) linear-gradient(0deg,
          rgba(0, 205, 205, 0.5) 0px,
          rgba(0, 205, 205, 0.5) 1px,
          rgba(255, 255, 255, 0.1) 1px,
          rgba(255, 255, 255, 0.75) 100%);
        // border-bottom-color: #e0e1dc;
      }

      &:not(:placeholder-shown):not(:focus) {
        background: rgba(255, 255, 255, 0) linear-gradient(0deg,
          rgba(0, 140, 0, 1) 0px,
          rgba(0, 140, 0, 1) 1px,
          rgba(255, 255, 255, 0) 1px,
          rgba(255, 255, 255, 0) 100%);
        border-bottom-color: transparent;
      }

      &:not(:placeholder-shown):not(:focus):not(:valid) {
        background: rgba(255, 255, 255, 0) linear-gradient(0deg,
          rgba(140, 0, 0, 1) 0px,
          rgba(140, 0, 0, 1) 1px,
          rgba(255, 255, 255, 0) 1px,
          rgba(255, 255, 255, 0) 100%);
          border-bottom-color: transparent;

          &~label::before {
            content: '*' attr(data-val);
            position:absolute;
            bottom:-17px;;
            left:8px; 
            display: block;
            font-size:90%;
            background-color: #990D1A;
            color:#FFF5A2;
            padding:0 8px;
            border-radius: 0 10px;


          }
      }

       &:focus ~ label, &:not(:placeholder-shown) ~ label {
          margin-top: -12px;
          margin-left: -5px;
          font-size: 75%;
          color: #004a4d;
          bottom:auto;
          right:auto;

          &::after {
            border-bottom-color: transparent;
          }
        }
      
    }
  }
}

.help-selection {
  font-size: 72px;
  padding: 20px;
  border: 0 none;
  border-radius: 10px;
  margin: 20px;
  font-family: Font Awesome\ 5 Pro;
  width: 140px;
  height: 120px;
  display: inline-block;
  line-height: 120px;
  text-align: center;
  background-color: white;
  vertical-align: middle;
  text-indent: 0;

  &.multi {
    font-weight: 100;
    display: inline-block;
    position: relative;

    &>span:first-child {
      position: absolute;
      display: block;
      display: inline;
      transform: rotate(15deg) translate(180%, 0%);
      background-color: white;
      line-height: 1;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &>span:last-child {
      position: absolute;
      display: block;
      display: inline;
      top: 0;
      left: 0;
      line-height: 1;
      transform: rotate(-15deg) translate(20%, 30%);
      z-index: 0;
    }
  }
}

.device-panel {
  display: block;
  text-align: center;
  transform: scale(100%);
  min-width: 85px;

  a {
    display: inline-block;
    width: calc(calc(100% / 6) - 20px);
    text-align: center;
    max-height: 170px;
    margin: 8px;
    height: auto;
    vertical-align: middle;

    &::after {
      content: '';
      display: block;
      min-width: calc(100% / 6);
      width: 100%;

    }

    img {
      min-width: 85px;
    }
  }

  @media(max-width:640px) {
    .device-panel {
      transform: scale(100%);

      img {
        min-width: none !important;
      }
    }

  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: transparent;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: transparent;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: transparent;
}

:placeholder {
  /* Firefox 18- */
  color: transparent;
}
